<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <mappers>
        <mapper resource="com/zc/Dao/UserMapper.xml"/>
        <mapper resource="com/zc/Dao/TypesMapper.xml"/>
        <mapper resource="com/zc/Dao/NewsMapper.xml"/>
        <mapper resource="com/zc/Dao/FilmMapper.xml"/>
    </mappers>



</configuration>